<div *ngIf="isOpen" class="modal-overlay">
    <div class="modal-content">
      <button (click)="close()" class="close-btn">X</button>
  
      <h2>Cadastrar Nova Tarefa</h2>
  
      <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
        <div class="form-group">
          <label for="taskTitle">Título:</label>
          <input
            id="taskTitle"
            name="taskTitle"
            type="text"
            required
            [(ngModel)]="task.title"
          />
        </div>
  
        <div class="form-group">
          <label for="taskPrevision">Previsão:</label>
          <input
            id="taskPrevision"
            name="taskPrevision"
            type="date"
            required
            [(ngModel)]="task.prevision"
          />
        </div>
  
        <div class="form-actions">
          <button type="button" (click)="close()">Cancelar</button>
          <button type="submit" [disabled]="taskForm.invalid">Salvar</button>
        </div>
      </form>
    </div>
</div>
  