<div class="container">
    <button>Adicionar</button>
    <table>
        <thead>
          <tr>
            <th></th>
            <th>TÍTULO</th>
            <th>PREVISÃO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>FINALIZAR ATIVIDADE 1</td>
            <td>23/11/2024</td>
            <td>
                <button>
                    <img src="assets/icons/btn_delete.png" alt="Deletar" width="20" height="20">
                </button>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>FINALIZAR ATIVIDADE 1</td>
            <td>23/11/2024</td>
            <td>
                <button>
                    <img src="assets/icons/btn_delete.png" alt="Deletar" width="20" height="20">
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
