<div class="container">
    <button id="btn-add-task" (click)="addTask()">ADICIONAR</button>
    <table *ngIf="tasks.length > 0">
        <thead>
          <tr>
            <th></th>
            <th>TÍTULO</th>
            <th>PREVISÃO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index" [ngClass]="{'completed': task.isChecked}">
            <td><input type="checkbox" (change)="onCheckboxChange(i)" [checked]="task.isChecked"></td>
            <td>{{ task.title }}</td>
            <td>{{ task.prevision }}</td>
            <td>
                <button id="btn-remove-task-{{i}}" (click)="removeTask(i)">
                    <img src="assets/icons/btn_delete.png" alt="Deletar" width="20" height="20">
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
