<div class="container">
    <app-task-registration-modal #taskModal (saveTask)="addTask($event)"></app-task-registration-modal>
    <button id="btn-add-task" (click)="taskModal.open()">ADICIONAR</button>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="tasks.length > 0">
        <ng-container matColumnDef="isChecked">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <input 
              type="checkbox" 
              (change)="onCheckboxChange(element.id)" 
              [checked]="element.isChecked"
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> TÍTULO </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        
        <ng-container matColumnDef="prevision">
          <th mat-header-cell *matHeaderCellDef> PREVISÃO </th>
          <td mat-cell *matCellDef="let element"> {{ element.prevision | date:'dd-MM-yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="editTask(element)">
              <mat-icon><span class="material-symbols-outlined">edit</span></mat-icon>
            </button>
          </td>
        </ng-container>        

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="removeTask(element.id!)">
              <mat-icon><span class="material-symbols-outlined">delete</span></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'completed': row.isChecked}"></tr>
      </table>

      <p *ngIf="tasks.length === 0" class="no-tasks-message">Não há tarefas para exibir!</p>
</div>
